<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link  rel="stylesheet" th:href="@{/styles.css}">
    <title>Менеджеры - Создание записи</title>
</head>
<body>
<div class="d-flex" id="wrapper">
    <div th:replace="fragments/sidebar"></div>
    <div id="page-content-wrapper">
        <div th:replace="fragments/navbar"></div>
        <section>
            <div class="container py-5 ">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="card mb-4">
                            <form action="#" th:action="@{/managers/new}" th:object= "${manager}" method="post">
                                <div class="card-body">

                                    <div class="row d-flex align-items-center">
                                        <div class="col-sm-3">
                                            <p class="mb-0 fw-bold">Фамилия</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text" placeholder="Введите фамилию" th:field="*{surname}"/>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row d-flex align-items-center">
                                        <div class="col-sm-3">
                                            <p class="mb-0 fw-bold">Имя</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text" placeholder="Введите имя" th:field="*{name}"/>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row d-flex align-items-center">
                                        <div class="col-sm-3">
                                            <p class="mb-0 fw-bold">Отчество</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text" placeholder="Введите отчество" th:field="*{patronymic}"/>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0 fw-bold">Тип лица</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <select class="form-control" th:field="*{education}">
                                                <option th:each="e : ${edu}"  th:value="${e}" th:text="${e}"/>
                                            </select>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0 fw-bold">Номер счета</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text" pattern="\d*" minlength="21" maxlength="21" placeholder="Введите номер счета" th:field="*{accountNumber}"/>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0 fw-bold">Дата начала работы</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="date" th:field="*{dateOfStart}">
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center mb-2">
                                    <button type="submit" class="btn btn-primary">Отправить</button>
                                    <button type="reset" class="btn btn-outline-danger ms-1">Сброс</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </div>
</div>








<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>
        var el = document.getElementById("wrapper")
        var toggleButton = document.getElementById("menu-toggle")
        toggleButton.onclick=function(){
            el.classList.toggle("toggled")
        }

</script>
</body>
</html>